<!DOCTYPE html>
<html>
    <head>
        <title>Resume Generator</title>
        <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/create.css')}}">
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
        <script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{=URL('static', 'materialize/fab.css')}}">



        <script type="text/javascript">
            // $(document).ready(function() {
            //     $('.edit-link .delete-button').click(function(){
            //         // getting the value of attribute data-val
            //         var page = $(this).attr('data-val');
            //         delete_entry(page)
            //     });
            // });

            function delete_entry(id, table){
                $.ajax({
                  url: "{{=URL('api', 'delete_record')}}",
                  data: { 'id': id, 'table': table, 'resume_id': {{=XML(request.args(0))}}}
                }).done(function() {
                    var str1 = table;
                    $('#' + str1 + id.toString()).remove();
                });

            }


        </script>

    </head>
    <body>
        <div class="fab-button fab-home">
            <a href={{=URL('index')}} title="Home">
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </div>

        <div class="container">
            <div class="row text-right edit-link">
                <a href="{{=URL('default', 'edit_name_box', args=request.args)}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Edit"></span></a>

                
            </div>
            <div class="row info">
                <div class="col-xs-4 contact">
                    <h5 class="text-left"><pre>{{=personal_info.get('address')}}</pre></h5>
                </div>
                <div class="col-xs-4">
                    <h2 class="text-center"><strong>{{=personal_info.get('name')}}</strong></h2>
                </div>
                <div class="col-xs-4 contact">
                    <h5 class="text-right">{{=personal_info.get('mobile')}}<br>{{=personal_info.get('email')}}</h5>
                </div>
            </div>
            {{if show_employment:}}
                <div id="employment">
                    <div class="row">
                        <div class="col-xs-11 heading">
                          <h4 class="text-left"><strong>Employment</strong></h4>
                        </div>
                        <div class="col-xs-1 text-right edit-link">
                          <a href="{{=URL('default', 'edit_employment_box', args='-1', vars={'resume_id' : request.args(0)})}}"><span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add"></span></a>
                        </div>
                    </div>
                    <div class="row">
                      <div class="hr"></div>
                    </div>
                </div>
                {{for row in employment:}}
                    <div id="{{=('employment' + str(row['id']))}}">
                        <div class="row emp-details1">
                            <div class="col-xs-4">
                                <h5 class="text-left"><strong>{{=row.get('post')}}</strong></h5>
                            </div>
                            <div class="col-xs-4">
                                <h5 class="text-center"><strong>{{=row.get('company')}}</strong></h5>
                            </div>
                            <div class="col-xs-4">
                                <h5 class="text-right"><strong>{{=row.get('start_date')}} to
                                {{=row.get('end_date')}}</strong></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 word-space">
                                {{=XML(row.get('work_info'))}}
                            </div>
                            <div class="col-xs-1 text-right edit-link">
                                <a href="{{=URL('default', 'edit_employment_box', args=row['id'], vars={'resume_id': request.args(0)})}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Edit"></span></a>
                                <a href="javascript:void(0)" class="delete-button" onclick="delete_entry({{=row.get('id')}}, 'employment')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" aria-label="Delete" ></span></a>
                            </div>
                        </div>
                    </div>
                {{pass}}
            {{pass}}
            {{if show_education:}}
                <div class="row">
                    <div class="col-xs-11 heading">
                        <h4 class="text-left"><strong>Education</strong></h4>
                    </div>
                    <div class="col-xs-1 text-right edit-link">
                        <a href="{{=URL('default', 'edit_education_box', args='-1', vars={'resume_id' : request.args(0)})}}"><span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add"></span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="hr"> </div>
                </div>
                {{for row in education:}}
                    <div id="{{=('education' + str(row['id']))}}">
                        <div class="row emp-details1">
                            <div class="col-xs-4">
                            <h5 class="text-left"><strong>{{=row.get('degree')}}</strong></h5>
                            </div>
                            <div class="col-xs-4">
                              <h5 class="text-center"><strong>{{=row.get('university')}}</strong></h5>
                            </div>
                            <div class="col-xs-4">
                              <h5 class="text-right"><strong>{{=row.get('year')}}</strong></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 word-space">
                                {{=XML(row.get('course_info'))}}
                            </div>
                            <div class="col-xs-1 text-right edit-link">
                              <a href="{{=URL('default', 'edit_education_box', args=row['id'], vars={'resume_id': request.args(0)})}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Edit"></span></a>
                              <a href="javascript:void(0)" class="delete-button" onclick="delete_entry({{=row.get('id')}}, 'education')"><span class="glyphicon glyphicon-trash" aria-hidden="true" aria-label="Delete"></span></a>
                            </div>
                        </div>
                    </div>
                {{pass}}
            {{pass}}

            {{for row in section_list:}}
                    <div id="{{=('section' + str(row['id']))}}">
                        <div class="row">
                            <div class="col-xs-6 heading">
                                <h4 class="text-left"><strong>{{=row.get('section_name')}}</strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="hr"> </div>
                        </div>
                        {{if row['left_heading'] or row['centre_heading'] or row['right_heading']:}}
                            <div class="row">
                                <div class="col-xs-4 sub-heading">
                                  <h5><strong>{{=row.get('left_heading')}}</strong></h5>
                                </div>
                                <div class="col-xs-4 sub-heading text-center">
                                  <h5><strong>{{=row.get('centre_heading')}}</strong></h5>
                                </div>
                                <div class="col-xs-4 sub-heading text-right">
                                  <h5><strong>{{=row.get('right_heading')}}</strong></h5>
                                </div>
                            </div>
                        {{pass}}
                        <div class="row">
                            <div class="col-xs-11 word-space">
                                {{=XML(row.get('description'))}}
                            </div>
                            <div class="col-xs-1 text-right edit-link">
                                <a href="{{=URL('default', 'edit_section_box', args=row['id'], vars={'resume_id': request.args(0), 'section_name': row['section_name']})}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" aria-label="Edit"></span></a>
                                <a href="javascript:void(0)" class="delete-button" onclick="delete_entry({{=row.get('id')}}, 'section')"><span class="glyphicon glyphicon-trash" aria-hidden="true" aria-label="Delete"></span></a>
                            </div>
                        </div>
                    </div>
            {{pass}}
            <div class="row">
                <h4><a href="{{=URL('default', 'edit_section_box', args='-1', vars={'resume_id': request.args(0), 'section_name': ''})}}"><span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add"></span>    Add new section</a></h4>
            </div>
        </div>


        <!-- Floating button for share start -->
        
        <nav class="fab-container"  > 

            <a href="https://plus.google.com/share?url={{=URL('default', 'create', args=request.args, scheme=True, host=True)}}" class="buttons" tooltip="Google+"></a>

            <a href="http://twitter.com/home?status={{=URL('default', 'create', args=request.args, scheme=True, host=True)}}" class="buttons" tooltip="Twitter"></a>

            <a href="http://www.facebook.com/sharer.php?u={{=URL('default', 'create', scheme=True, host=True)}}" class="buttons" tooltip="Facebook"></a>

            <a class="buttons share" tooltip="Share" href="javascript:void(0)"><span class="glyphicon glyphicon-share" aria-hidden="true" aria-label="Download"></span></a>

        </nav>
        <div class="fab-button fab-save">
            <a href="#"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" aria-label="Save"></span></a>
        </div>
        <div class="fab-button fab-download">
            <a href="{{=URL('default', 'download_resume', args=request.args)}}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true" aria-label="Download"></span></a>
        </div>
        <!-- Floating button for share end -->
    </body>
</html>