{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'js/mooeditable/Assets/MooEditable/MooEditable.css')}}">

<script type="text/javascript" src="{{=URL('static', 'js/mooeditable/Source/MooEditable/mootools.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/mooeditable/Source/MooEditable/MooEditable.js')}}"></script>

{{=form}}

<script type="text/javascript">

    $(document).ready(function(){
        $('textarea')[0].mooEditable();
        $('#section_list').on('change', function() {
            $("#section_section_name__row input").val($(this).val());
            $('#section_list').val('');
            $( "#section_section_name__row input" ).trigger( "change" );
        });
    })


</script>
