{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'js/mooeditable/Assets/MooEditable/MooEditable.css')}}">

<script type="text/javascript" src="{{=URL('static', 'js/mooeditable/Source/MooEditable/mootools.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/mooeditable/Source/MooEditable/MooEditable.js')}}"></script>

{{=form}}


<script type="text/javascript">

    $(document).ready(function(){
        $('textarea')[0].mooEditable();
    })
</script>
