* {
    border: 1px solid transparent !important;
}

/*for differet browsers defining box size
webkit for crome
moz for mozzila
ms for internet explorer
andfor others last line
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container{

    background-color: white;
}

* {
    font-family: 'Open Sans', sans-serif;
    color:black;
}

a{
    color: black;
}

.info{

    margin-top: 7px;
}

.contact{
    padding-top: 15px;

}

.heading{
    margin-top: 10px;
}

/*.sub-heading{
    margin-top: -15px;
}*/


.hr {
    background-color: #FFFFFF;
    border: 1px solid #000000 !important;
    height: 1px;
    margin: 0px 0px 0px 0px;
    width: 100%;
}
/*.emp-details1{

    margin-top: -15px;

}*/

.emp-details2-and-3{
    margin-top: 10px;

}

.edit-link {
    margin: 12px 0 0 0;
  }


.heading h4.text-left{
    margin: 0 0 4px 0;
}

@media print{
    .edit-link{
        display: none;
    }
}

@media only screen {
    body{
        background-color: #031a38;
    }

    .container{
        margin:50px 60px 50px 60px;
        padding: 0 45px 55px 45px;
        border-radius: 10px 10px 10px 10px;
        /*box-shadow:         3px 3px 5px 6px #ccc;*/
    }
}

.word-space{
    word-spacing: 2px;
}

pre{
    color: black;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    border: none;
}