.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #333;
    color: #aaa;
}

.footer > .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

/*#section_section_name__row select{
    display: inline;
    width: 23px;
    height: 46px;
    background-color: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#section_section_name__row input{
    display: inline;
    width: 97%;
    border-radius: 4px 0 0 4px;
}

#section_section_name__row select option{
  width:1000px !important; 
}*/