
.fab-container {
  bottom: 143px;
  position: fixed;
  margin: 0 15px 15px 0;
  right: 0px;
  border: none !important;
}

.buttons {
  border: none !important;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;
          
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.fab-container:hover 
.buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  /*background-image: url('http://cbwconline.com/IMG/Share.svg');*/
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  background-image: url('http://cbwconline.com/IMG/Facebook-Flat.png');
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  background-image: url('http://cbwconline.com/IMG/Twitter-Flat.png');
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  background-image: url('http://cbwconline.com/IMG/Google%20Plus.svg');
  background-size: contain;
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.share{
text-align: center;
background-color: #a91717;
}

.share span{
   line-height: 50px;
   font-size:30px;
   color:white;
}


/*css for fab button of download, home and save start*/
.fab-download {
    background-color: #009688;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
}

.fab-home{
    background-color: #a91717;
    top: 0;
    left: 0;
    margin: 15px 0 0 15px;
}

.fab-save{
    background-color: #a91717;
    bottom: 71px;
    right: 0;
    margin: 0 15px 15px 0;

}

.fab-button{
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    height: 56px;
    position: fixed;
    display: block;
    width: 56px;
    z-index: 1000;
    border: none !important;

}

.fab-home .glyphicon-home, .fab-download .glyphicon-download-alt, .fab-save .glyphicon-floppy-disk{
    font-size: 27px;
    color: #fff;
    line-height: 50px;
    border: none !important;
}
/*css for fab button of download home, and save end*/